.container {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    background-color: black;
    align-items: center;


}

.spotify {
    height: 85px;
}

.premium {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 10px;
    margin: 5px;
}

.separation {
    display: inline-block;
    height: 16px;
    width: 2px;
    background-color: white;
}

.body {
    margin: 0px;
}

.milioni {
    background-image: url(assets-free/balls.svg)
}

svg#iphone {
    height: 286px;

    width: 570px;
}

.section3 {
    background: linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11, 231));
    text-align: center;
    padding-top: 125px;
    padding-bottom: 125px;

}

.title {
    color: white;
    font-size: 40px;
}